
/* Conteneur principal */
#recently-watched {
    padding: -10px;
    overflow: hidden;
}

/* Styles pour les films */
#recently-watched .video-img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

/* Alignement des films */
#recently-watched .owl-item {
    display: block; /* Important pour Owl Carousel */
    padding: 5px; /* Espacement interne */
}

/* Boutons de navigation Owl Carousel */
.recently-watched-video-carousel .owl-nav .owl-prev,
.recently-watched-video-carousel .owl-nav .owl-next {
    background-color: #0d071e;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Points de navigation (dots) */
.recently-watched-video-carousel .owl-dots {
    text-align: center;
    margin-top: 15px;
}

.recently-watched-video-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    background-color: #aaa;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.recently-watched-video-carousel .owl-dots .owl-dot.active {
    background-color: #0d071e;
}
