/* Style pour le conteneur des résultats de recherche */ 
#search_output {
    display: flex;
    flex-wrap: wrap; /* Pour faire passer les éléments à la ligne si nécessaire */
    justify-content: center; /* Centrage des éléments */
    gap: 15px; /* Espacement entre les éléments */
    margin-top: 20px; /* Ajustement de la marge supérieure */
    padding: 0 5vw; /* Padding fixe de 5vw sur les côtés */
}

/* Style pour chaque résultat (affiche de film) */
#search_output .single-video {
    background-color: #1b1b1b; /* Optionnel : couleur de fond pour l'esthétique */
    border-radius: 8px;
    margin-bottom: 20px;
    flex: 0 0 calc(16.66% - 15px); /* 6 vidéos par ligne par défaut */
}

/* Style pour l'image et le texte */
#search_output .video-img img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Arrondi des images */
}

#search_output .video-item-content {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}

/* Responsive design ajusté */
@media (max-width: 1198px) {
    #search_output .single-video {
        flex: 0 0 calc(16.66% - 10px); /* 6 vidéos par ligne */
    }
}

@media (max-width: 991px) {
    #search_output .single-video {
        flex: 0 0 calc(20% - 10px); /* 5 vidéos par ligne */
    }
}

@media (max-width: 768px) {
    #search_output .single-video {
        flex: 0 0 calc(25% - 10px); /* 4 vidéos par ligne */
    }
}

@media (max-width: 640px) {
    #search_output .single-video {
        flex: 0 0 calc(33.33% - 10px); /* 3 vidéos par ligne */
    }
}

@media (max-width: 480px) {
    #search_output .single-video {
        flex: 0 0 calc(50% - 10px); /* 2 vidéos par ligne */
    }
}

@media (max-width: 320px) {
    #search_output .single-video {
        flex: 0 0 calc(50% - 10px); /* Toujours 2 vidéos par ligne même sur très petits écrans */
    }
}

/* Placeholder input style */
.search .search-input input[type=text]::placeholder,
.search .search-input input[type=text]:focus {
    background: #0d071e !important;
}
