# Fichiers système et temporaires
.DS_Store
Thumbs.db
package-lock.json
package.json
webpack.config.js
build.js

# Configurations spécifiques à votre éditeur et environnements de développement
.vscode/
.idea/
.venv/

# Dossiers de modules et de compilation
node_modules/
cache/
dowload/

# Ignorer tous les fichiers `.m3u`
.m3u

movies-engine/
features/
film1/
shows-engine/
test-crimson/
test/

